In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
import os
current_dir = os.getcwd()
print(current_dir)

C:\Users\Dell\Desktop\MyPython\Yandex.Practica\ПРЕДЛОЖЕНИЯ\Школьники\Работа_над_материалами\Тема_3

In [3]:
import warnings
warnings.filterwarnings('ignore')

import phik
from phik.report import plot_correlation_matrix
from phik import report

phik_overview = df.phik_matrix()#(interval_cols = interval_cols)
phik_overview.round(2)

## Задача 1

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сформировать новый датасет из отсортированного в алфавитном порядке списка из трёх факторов в количественной шкале: ингредиент_2, ингредиент_1, вес

3) Рассчитать матрицу корреляций для количественных данных. Использовать метод корреляций для случая нормального распределения данных.

In [22]:
PATH_OUT = r'C:\Users\Dell\Desktop\MyPython\Yandex.Practica\ПРЕДЛОЖЕНИЯ\Школьники\Работа_над_материалами\Тема_3'

In [25]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df = df.dropna()  # удалили строки с пропусками
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

                   вес  ингредиент_1  ингредиент_2
вес           1.000000     -0.087235      0.669274
ингредиент_1 -0.087235      1.000000      0.005579
ингредиент_2  0.669274      0.005579      1.000000

## Задача 2

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сгруппировать по номеру партии (столбцу key) и найти сумму по каждому фактору.

3) Рассчитать матрицу линейных корреляций между количественными данными для новой таблицы. Использовать метод корреляции для случая ненормального распределения данных.

4) Вывести на экран матрицу корреляций. Если коэффициент корреляции менее 0.85 по модулю, то такие значения в матрице не должны выводится (вместо них должны стоять NaN).

In [8]:
df1 = pd.read_csv(PATH_OUT + '\\qq3_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df1.head(8)

   key  Полная мощность  Время нагрева  Вес добавки
0    1         0.305130       0.211253   346.384905
1    1         0.765658       0.477438   382.505505
2    1         0.580313       0.430460   407.239422
3    1         0.518496       0.379979   393.062226
4    1         0.867133       0.643691   403.623758
5    2         0.381124       0.220351   386.468753
6    2         0.261665       0.205527   430.638118
7    2         0.710297       0.484962   406.129754

groupby + agg() + corr() + where(lambda ...))

### Дополнительно

## Задача 3

1) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

2) Сформировать датасет из отсортированного в алфавитном порядке списка количественного фактора ингредиент_1 и качественного фактора брак.

3) Используя теорию урока, выбрать метод и рассчитать по новому датасету взаимосвязь между данными.

4) Результат вывести в виде числа с округлением до четвёртого знака.

In [55]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [56]:



def correlation_ratio(categories, values):
    fvalue, pvalue = stats.f_oneway(*[values[categories == cat] for cat in categories.unique()])
    if np.isnan(fvalue):
        return 0.0  # Возвращаем 0, если ANOVA не может быть выполнена
    ssb = sum([len(values[categories == cat]) * (np.mean(values[categories == cat]) - np.mean(values))**2 for cat in categories.unique()])
    sst = sum((values - np.mean(values))**2)
    return ssb / sst
print(correlation_ratio(df['брак'], df['ингредиент_1']).round(4))

0.5297

## Задача 4

1) Сформировать список из количественного фактора вес и качественного фактора брак
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

3) Сформировать новый датасет, используя условия отбора :
- номер_конвейера = 1
- номер_смены = 2

4) Сформировать датасет из отсортированного в алфавитном порядке списка количественного фактора вес и качественного фактора брак.
5) Используя теорию урока, выбрать метод и рассчитать по новому датасету взаимосвязь между данными в разных шкалах.

6) Результат вывести с округлением до четвёртого знака.

In [57]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [59]:


def correlation_ratio(categories, values):
......


print(correlation_ratio(df['брак'], df['вес']).round(4))

0.1774

## Задача 5

1) Сформировать список из количественного фактора вес и качественного фактора брак.
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить - кириллица

4) Сформировать новый датасет, используя условия отбора:
- ингредиент_1 < 270
- номер_смены = 2


3) Сформировать датасет из списка качественных факторов: оператор_линии и брак.

4) Используя теорию урока, выбрать метод и рассчитать по новому датасету корреляцию для поиска взаимосвязи между данными в одинаковых качественных шкалах.

5) Результат вывести в виде числа, с округлением до четвёртого знака.

In [60]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [63]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

....


def my_cramers(x, y):
.....


print(my_cramers(df['брак'], df['оператор_линии']).round(4))

0.2829

## Задача 6

1)Загрузить файл, удалить строки с пропущенными значениями
2) Перевести название колонок в стандарт PEP8:
- перевести в нижний регистр
- пробелы между словами заменить на _
- язык сохранить кириллица

3) На основе фактора ингредиент 1 сформировать новый фактор ингредиент_кат, используя условия:
- если менее равно 270, то группа менее_270
- если более 270, то группа более_270

4) Сформировать новый датасет из нового фактора ингредиент_кат и качественного фактора брак
5) Используя теорию урока, выбрать метод и рассчитать по новому датасету корреляцию для поиска взаимосвязи между данными в одинаковых качественных шкалах.

6) Результат вывести в виде числа, с округлением до четвёртого знака.

In [64]:
df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True)
df.head(3)

,вес,оператор_линии,ингредиент_1,номер_смены,новер_конвейера,ингредиент_2,брак
0,61.7,2,250.9,2,1,6.3,Годен
1,58.6,2,275.7,1,2,6.7,Брак
2,53.6,2,280.6,2,1,7.5,Брак

In [65]:
# загрузить данные

....


def my_cramers(x, y):
......

print(my_cramers(df['брак'], df['ингредиент_кат']).round(4))

0.4385

## Задача 7

Необходимо:
1) Перевести название колонок в стандарт PEP8:
перевести в нижний регистр
пробелы между словами заменить на _
язык сохранить - кириллица
2) Построить график диаграммы рассеяния, используя библиотеку seaborn. При построении учесть:

ось ОХ - фактор вес
ось OY - фактор, название которого вводится
на одном графике построить диаграмму рассеяния для двух групп. Группирующий фактор оператор_линии
вывести заголовок диаграммы:
Диаграмма рассеяния: Анализ зависимости между факторами.
Причём отобразить название на двух строках. Пример ниже на картинке
размер шрифт заголовка сделать 16
расстояние от заголовка до начала графика сделать равным 1.01
остальные настройки графика по цвету, шрифту, отступов - оставить по умолчанию
Сохраните диаграмму в файл target_3_7.png.

Пример

df = pd.read_csv(PATH_OUT + '\\qq_csv.csv',sep=',', encoding='cp1251', skipinitialspace=True).dropna()
df.columns = df.columns.str.lower().str.replace(' ', '_')
df

In [ ]:
.....

sns.scatterplot(....)
plt.suptitle(.....)
plt.show()